<% provide(:title, t(".page_title")) %>

<h1><%= t".page_title" %></h1>
<p>
  <%= raw t(".help_des",
    help_page: link_to(t(".help_page"), "http://www.railstutorial.org/help"),
    rail_tut: link_to(t(".rail_tut"), "http://www.railstutorial.org/help"))%>
</p>

