<h1><%= t ".title" %></h1>
<p><%= t ".user", user: @user.name %>,</p>
<p><%= t ".desc" %></p>
<%= link_to t(".activate_link"), edit_account_activation_url(@user.activation_token, email: @user.email) %>
