<% flash.each do |message_type, message| %>
  <% case message_type
  when "success"
    message_alert_type = "success";
  when "user_not_found"
    message_alert_type = "danger";
  end %>
  <div class="alert alert-<%= message_alert_type %>"><%= message %></div>
<% end %>
